#jcm_content_message {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	color: #ff6664;
	margin: 0 auto 30px;
	padding: 10px 20px;
	border: 2px solid #ff6664;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	background-color: #ffefef;
}